<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 * Copyright 2008 Philippe Prados.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
-->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app
	id="jndi-web-test"
>
	<display-name>jndi-resources-web-sample</display-name>

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <display-name>Test Servlet</display-name>
        <description>A unit test of jndi-resources</description>
        <servlet-class>com.googlecode.jndiresources.web.test.PingServlet</servlet-class>
        
		<!-- ********* JDBC resources ********* -->
		<init-param>
			<param-name>jdbc</param-name>
			<param-value>
			java:comp/env/jdbc/HSQLDBMinimum
			java:comp/env/jdbc/MySQLNo
			java:comp/env/jdbc/MySQLXA
			java:comp/env/jdbc/MySQLLocal
			java:comp/env/jdbc/OracleNo
			java:comp/env/jdbc/OracleXA
			java:comp/env/jdbc/OracleLocal
			java:comp/env/jdbc/OracleSingle
			java:comp/env/jdbc/OracleMinimum
			</param-value>
		</init-param>
		
		<!-- ********* Javamail resources ********* -->
		<init-param>
			<param-name>javamail</param-name>
			<param-value>
			java:comp/env/mail/default
			java:comp/env/mail/set
			java:comp/env/mail/imap
			java:comp/env/mail/freeprotocol
			</param-value>
		</init-param>
		
		<init-param>
			<param-name>email</param-name>
			<param-value>
			java:comp/env/mail/email
			</param-value>
		</init-param>
		
		<!-- ********* URL resources ********* -->
		<init-param>
			<param-name>url</param-name>
			<param-value>
			java:comp/env/url/properties
			</param-value>
		</init-param>
		
		<!-- ********* Host resources ********* -->
		<init-param>
			<param-name>host</param-name>
			<param-value>
			java:comp/env/host/srvname
			</param-value>
		</init-param>
		
		<!-- ********* JNDI resources ********* -->
		<init-param>
			<param-name>jndi</param-name>
			<param-value>
			java:comp/env/jndi/file
			java:comp/env/jndi/jboss
			java:comp/env/jndi/rmi
			java:comp/env/jndi/cos
			java:comp/env/jndi/ldap
			java:comp/env/jndi/activemq-remote
<!--
			java:comp/env/jndi/dns
			java:comp/env/jndi/default
-->
			</param-value>
		</init-param>
		
		<!-- ********* JMS resources ********* -->
		<init-param>
			<param-name>jms.cf</param-name>
			<param-value>
			java:comp/env/jms/JBossConnectionFactory
			java:comp/env/jms/ActiveMQConnectionFactory
			java:comp/env/jms/RemoteActiveMQConnectionFactory

			java:comp/env/jms/JBossLocalConnectionFactory
			java:comp/env/jms/JBossNoConnectionFactory
			java:comp/env/jms/ActiveMQLocalConnectionFactory
			java:comp/env/jms/ActiveMQNoConnectionFactory
			java:comp/env/jms/RemoteActiveMQLocalConnectionFactory
			java:comp/env/jms/RemoteActiveMQNoConnectionFactory
			</param-value>
		</init-param>
		
		<init-param>
			<param-name>jms.xacf</param-name>
			<param-value>
			java:comp/env/jms/JBossXAConnectionFactory
			java:comp/env/jms/ActiveMQXAConnectionFactory
			java:comp/env/jms/RemoteActiveMQXAConnectionFactory
			</param-value>
		</init-param>
		
		<init-param>
			<param-name>jms.queue</param-name>
			<param-value>
			java:comp/env/jms/JBossQueue
			java:comp/env/jms/ActiveMQQueue
			java:comp/env/jms/RemoteActiveMQQueue
			</param-value>
		</init-param>
		
		<init-param>
			<param-name>jms.topic</param-name>
			<param-value>
			java:comp/env/jms/JBossTopic
			java:comp/env/jms/ActiveMQTopic
			java:comp/env/jms/RemoteActiveMQTopic
			</param-value>
		</init-param>
		
		<!-- ********* Link resources ********* -->
		<init-param>
			<param-name>link</param-name>
			<param-value>
			java:comp/env/link
			</param-value>
		</init-param>
		
		<!-- ********* JAAS resources ********* -->
		<init-param>
			<param-name>jaas</param-name>
			<param-value>
			java:comp/env/jaas/default
			java:comp/env/jaas/internet1
			java:comp/env/jaas/internet2
			java:comp/env/jaas/intranet1
			java:comp/env/jaas/intranet2
			</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

<!-- ********* JDBC resources ********* -->
   <resource-ref id="jdbc-Default">
  	  <description>Datasource par défaut</description>
      <res-ref-name>jdbc/Default</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-HSQLDBMinimum">
      <res-ref-name>jdbc/HSQLDBMinimum</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-MySQLNo">
      <res-ref-name>jdbc/MySQLNo</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-MySQLXA">
      <res-ref-name>jdbc/MySQLXA</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-MySQLLocal">
      <res-ref-name>jdbc/MySQLLocal</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-OracleNo">
      <res-ref-name>jdbc/OracleNo</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-OracleXA">
      <res-ref-name>jdbc/OracleXA</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-OracleLocal">
      <res-ref-name>jdbc/OracleLocal</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-OracleSingle">
      <res-ref-name>jdbc/OracleSingle</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jdbc-OracleMinimum">
      <res-ref-name>jdbc/OracleMinimum</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   
   
<!-- ********* Javamail resources ********* -->
	<resource-ref id="mail-email">
	   <description>Un email</description>
	   <res-ref-name>mail/email</res-ref-name>
	   <res-type>javax.mail.Address</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>


	<resource-ref id="mail-default">
	   <description>Javamail default</description>
	   <res-ref-name>mail/default</res-ref-name>
	   <res-type>javax.mail.Session</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="mail-set">
	   <description>Javamail default</description>
	   <res-ref-name>mail/set</res-ref-name>
	   <res-type>javax.mail.Session</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="mail-imap">
	   <description>Javamail default</description>
	   <res-ref-name>mail/imap</res-ref-name>
	   <res-type>javax.mail.Session</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="mail-freeprotocol">
	   <description>Javamail default</description>
	   <res-ref-name>mail/freeprotocol</res-ref-name>
	   <res-type>javax.mail.Session</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!-- ********* URL resources ********* -->
	<resource-ref id="url-ws">
	   <description>Url</description>
	   <res-ref-name>url/properties</res-ref-name>
<!--	   <res-type>java.net.URL</res-type>-->
	   <res-type>java.lang.Object</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!-- ********* Host resources ********* -->
	<resource-ref id="host-srvname">
	   <description>Host</description>
	   <res-ref-name>host/srvname</res-ref-name>
	   <res-type>java.net.InetAddress</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>


<!-- ********* JMS resources ********* -->

	<!-- JBoss -->
	<resource-ref id="jms-JBossConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/JBossConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-JBossLocalConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/JBossLocalConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-JBossNoConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/JBossNoConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<!-- ActiveMQ -->

	<resource-ref id="jms-ActiveMQConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/ActiveMQConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-ActiveMQLocalConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/ActiveMQLocalConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-ActiveMQNoConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/ActiveMQNoConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<!-- RemoteActiveMQ -->

	<resource-ref id="jms-RemoteActiveMQConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/RemoteActiveMQConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-RemoteActiveMQLocalConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/RemoteActiveMQLocalConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-RemoteActiveMQNoConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/RemoteActiveMQNoConnectionFactory</res-ref-name>
	   <res-type>javax.jms.ConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<!-- XA -->

	<resource-ref id="jms-JBossXAConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/JBossXAConnectionFactory</res-ref-name>
	   <res-type>javax.jms.XAConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-JBossXAConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/ActiveMQXAConnectionFactory</res-ref-name>
	   <res-type>javax.jms.XAConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-RemoteActiveMQXAConnectionFactory">
	   <description>Serveurs de queues</description>
	   <res-ref-name>jms/RemoteActiveMQXAConnectionFactory</res-ref-name>
	   <res-type>javax.jms.XAConnectionFactory</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<!-- Queue -->
	<resource-ref id="jms-JBossQueue">
	   <description>Une queue JBoss</description>
	   <res-ref-name>jms/JBossQueue</res-ref-name>
	   <res-type>javax.jms.Queue</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	
	<resource-ref id="jms-ActiveMQQueue">
	   <description>Une queue ActiveMQ</description>
	   <res-ref-name>jms/ActiveMQQueue</res-ref-name>
	   <res-type>javax.jms.Queue</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	
	<resource-ref id="jms-RemoteActiveMQQueue">
	   <description>Une queue RemoteActiveMQ</description>
	   <res-ref-name>jms/RemoteActiveMQQueue</res-ref-name>
	   <res-type>javax.jms.Queue</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	
	<!-- Topic -->
	<resource-ref id="jms-JBossTopic">
	   <description>Un Topic JBoss</description>
	   <res-ref-name>jms/JBossTopic</res-ref-name>
	   <res-type>javax.jms.Topic</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-ActiveMQTopic">
	   <description>Un Topic ActiveMQ</description>
	   <res-ref-name>jms/ActiveMQTopic</res-ref-name>
	   <res-type>javax.jms.Topic</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref id="jms-RemoteActiveMQTopic">
	   <description>Un Topic RemoteActiveMQ</description>
	   <res-ref-name>jms/RemoteActiveMQTopic</res-ref-name>
	   <res-type>javax.jms.Topic</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!-- ********* JNDI ********* -->
	<!--
	<resource-env-ref id="jndi-default">
	   <description>Un Context</description>
	   <resource-env-ref-name>jndi/default</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
	-->
<!--
	<resource-ref id="jndi-default">
	   <description>Un Context</description>
	   <res-ref-name>jndi/default</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
-->

<!--
	<resource-env-ref id="jndi-file">
	   <description>Un Context file</description>
	   <resource-env-ref-name>jndi/file</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->	
	<resource-ref id="jndi-file">
	   <description>Un Context file</description>
	   <res-ref-name>jndi/file</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!--
	<resource-env-ref id="jndi-jboss">
	   <description>Un Context JBoss</description>
	   <resource-env-ref-name>jndi/jboss</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->
	<resource-ref id="jndi-jboss">
	   <description>Un Context JBoss</description>
	   <res-ref-name>jndi/jboss</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!--
	<resource-env-ref id="jndi-rmi">
	   <description>Un Context RMI</description>
	   <resource-env-ref-name>jndi/rmi</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->
	<resource-ref id="jndi-rmi">
	   <description>Un Context RMI</description>
	   <res-ref-name>jndi/rmi</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!--
	<resource-env-ref id="jndi-cos">
	   <description>Un Context CORBA</description>
	   <resource-env-ref-name>jndi/cos</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->
	<resource-ref id="jndi-cos">
	   <description>Un Context CORBA</description>
	   <res-ref-name>jndi/cos</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!--
	<resource-env-ref id="jndi-ldap">
	   <description>Un Context LDAP</description>
	   <resource-env-ref-name>jndi/ldap</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->
	<resource-ref id="jndi-ldap">
	   <description>Un Context LDAP</description>
	   <res-ref-name>jndi/ldap</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!--	
	<resource-env-ref id="jndi-dns">
	   <description>Un Context DNS</description>
	   <resource-env-ref-name>jndi/dns</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->
	<resource-ref id="jndi-dns">
	   <description>Un Context DNS</description>
	   <res-ref-name>jndi/dns</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!--	
	<resource-env-ref id="jndi-activemq-remote">
	   <description>Un Context ActiveMQ</description>
	   <resource-env-ref-name>jndi/activemq-remote</resource-env-ref-name>
	   <resource-env-ref-type>javax.naming.Context</resource-env-ref-type>
	</resource-env-ref>
-->
	<resource-ref id="jndi-activemq-remote">
	   <description>Un Context ActiveMQ</description>
	   <res-ref-name>jndi/activemq-remote</res-ref-name>
	   <res-type>javax.naming.Context</res-type>
	   <res-auth>Application</res-auth>
	   <res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

<!-- ********* Link ********* -->   
   <resource-ref id="link-home">
	  <description>Un lien JNDI</description>
      <res-ref-name>link</res-ref-name>
      <res-type>java.lang.Object</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>

<!-- ********* JAAS ********* -->   
   <resource-ref id="jaas-default">
	  <description>Une authentification</description>
      <res-ref-name>jaas/default</res-ref-name>
      <res-type>org.jboss.security.plugins.SecurityDomainContext</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jaas-internet1">
	  <description>Une authentification</description>
      <res-ref-name>jaas/internet1</res-ref-name>
      <res-type>org.jboss.security.plugins.SecurityDomainContext</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jaas-internet2">
	  <description>Une authentification</description>
      <res-ref-name>jaas/internet2</res-ref-name>
      <res-type>org.jboss.security.plugins.SecurityDomainContext</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jaas-intranet1">
	  <description>Une authentification</description>
      <res-ref-name>jaas/intranet1</res-ref-name>
      <res-type>org.jboss.security.plugins.SecurityDomainContext</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>
   <resource-ref id="jaas-intranet2">
	  <description>Une authentification</description>
      <res-ref-name>jaas/intranet2</res-ref-name>
      <res-type>org.jboss.security.plugins.SecurityDomainContext</res-type>
      <res-auth>Application</res-auth>
      <res-sharing-scope>Shareable</res-sharing-scope>
   </resource-ref>


</web-app>
