<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	* Copyright 2008 Philippe Prados.
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	*      http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
	*
-->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="jndi-web-sample">
	<display-name>jndi-resources-web-sample</display-name>

	<servlet>
		<servlet-name>HelloJNDIServlet</servlet-name>
		<display-name>Hello Servlet</display-name>
		<description>A unit test of jndi-resources</description>
		<servlet-class>
			com.googlecode.jndiresources.web.sample.HelloJNDIServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloJNDIServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>

	<resource-ref id="jdbc-Default">
		<description>La base par defaut</description>
		<res-ref-name>jdbc/Default</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref id="mail-Default">
		<description>Une session javamail</description>
		<res-ref-name>mail/Default</res-ref-name>
		<res-type>javax.mail.Session</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref id="mail-email">
		<description>Un email</description>
		<res-ref-name>mail/email</res-ref-name>
		<res-type>javax.mail.Address</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- URL resources -->
	<resource-ref id="url-Default">
		<description>Une URL</description>
		<res-ref-name>url/Default</res-ref-name>
		<!-- 	   <res-type>java.net.URL</res-type>-->
		<res-type>java.lang.Object</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- Host resources -->
	<resource-ref id="host-Default">
		<description>Un Host</description>
		<res-ref-name>host/Default</res-ref-name>
		<res-type>java.net.InetAddress</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- EJB reference -->
	<ejb-ref>
		<description>Un EJB session d'exemple</description>
		<ejb-ref-name>ejb/LookupJndi</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.googlecode.jndiresources.ejb.sample.LookupJndiHome</home>
		<remote>com.googlecode.jndiresources.ejb.sample.LookupJndi</remote>
		<!-- Use extern EJB -->
		<!-- ejb-link>ejb/LookupJndi</ejb-link-->
	</ejb-ref>
</web-app>
